@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
*{
	padding: 0;
	margin: 0;
	border:0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

/* Home section Start */
.container{
    width: 100%;
    height: max-content;
    min-height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0,0,0,0.75)), url(images/home-bg.jpg);
    background-size: cover;
    background-position: center;
     
}

.navbar{
    width: 95%;
    max-width: 1230px;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    cursor: pointer;
    color: rgb(162, 0, 255);
    font-size: 1.25rem;
}

.nav-list li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-list li a{
    text-decoration: none;
    color: rgb(162, 0, 255);
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    
}

.nav-list li a.active{
    color: #66ff00;
}

.nav-list li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #66ff00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.nav-list li:hover::after{
    width: 100%;

}

.navbar .menu-btn i{
    color: rgb(162, 0, 255);
    font-size: 20px;
    text-shadow: 2px 2px #000;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

@media (max-width: 940px){
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
        font-size: 23px;
    }

    .nav-list {
        position: fixed;
        top: 80px;
        right: -100%;
        background: rgb(0, 0, 0);
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 1;
    }

    #click:checked ~ ul{
        right: 0%;
    }


    .nav-list li{
        margin: 30px 0;
    }

    .nav-list li a{
        font-size: 20px;
        display: block;
    }

    .nav-list li::after{
        left:45%;
    }
    .nav-list li:hover::after{
        width: 10%;
    }

    .navbar .menu-btn i{
        display: block;
    }

}

.row {
    padding: 57px 0;
    display: flex;
    margin: auto;
    max-width: 1230px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .col-1 {
    flex-basis: 45%;
    min-width: 300px;
    padding-left: 0px;
  }
  
  .col-1 img {
    max-width: 100%;
    padding: 30px 0;
    padding-left: 0px;
  }

  .col-1 h1{
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    text-shadow: 0 0 3px #000, 0 0 5px #000;  
  }
  .one{
    color: #66ff00;
    
  }

  .col-1 p{
    color: #ffffff;
    justify-self: start;
    font-family: 'Cardo', serif;
    padding: 10px 0;
    font-size: 1.5rem;
  }

  .razorpay-embed-btn{
    padding-top: 30px;
    padding-left: 0px;
  }

  /* Footer Start */
  .footer{
    height: fit-content ;
    text-align: center;
	background-color: rgba(0, 0, 0);
	overflow: hidden;
	padding: 5px 0; 
    color: #9b8f8f;
    font-size: 12px;
  }
  /* Footer End */
  @media only screen and (max-width: 600px) {
      .row {
          text-align: center;
        }
        
        .col-1 {
            flex-basis: 100;
            
        }
    }

  /* Home Section end */

  /* Contact Section Start */
  .c2{
      background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0,0,0,0.75)), url(images/contact-bg.jpg);
  }
  .contact{
      position: relative;
      min-height: 89vh;
      padding: 2px 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .contact .content1{
      max-width: 800px;
      text-align: center;

  }
  .contact .content1 h2{
      font-size: 36px;
      font-weight: 500;
      color: #66ff00 ;
      padding-bottom: 10px;
  }
  .contact .content1 p{
      font-weight: 300;
      color: #fff;
  }
  .contactBox{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
  }
  .contactBox .contactInfo{
      width: 50%;
      display: flex;
      flex-direction: column;
  }

  .contactBox .contactInfo .box{
      position: relative;
      padding: 20px 0;
      display: flex;
  }

  .contactBox .contactInfo .box .icon{
      min-width: 60px;
      height: 60px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 22px;
  }

  .contactBox .contactInfo .box .text{
      display: flex;
      margin-left: 20px;
      font-size: 16px;
      color: #fff;
      flex-direction: column;
      font-weight: 300;
  }

  .contactBox .contactInfo .box .text h3{
      font-weight: 500;
      color: #66ff00    ;
  }

  .contactForm{
      width: 40%;
      padding: 40px;
      background: #fff;
  }

  .contactForm h2{
      font-size: 30px;
      color: #345;
      font-weight: 500;
  }

  .contactForm .inputbox{
      position: relative;
      width: 100%;
      margin-top: 10px;
  }

  .contactForm .inputbox input,
  .contactForm .inputbox textarea{
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      border: none;
      border-bottom: 2px solid #333;
      outline: none;
      resize: none;
  }
  .contactForm .inputbox span{
      position: absolute;
      left: 0;
      padding: 5px 0;
      font-size: 16px;
      margin: 10px 0;
      pointer-events: none;
      transition: 00.5s;
      color: #666;
  }

  .contactForm .inputbox input:focus ~ span,
  .contactForm .inputbox input:valid ~ span,
  .contactForm .inputbox textarea:focus ~ span,
  .contactForm .inputbox textarea:valid ~ span{
      color: rgb(119, 0, 255);
      font-size: 12px;
      font-weight: 600;
      transform: translateY(-20px);
  }

  .contactForm .inputbox input[type="submit"]{
      width: 100px;
      background: rgb(119, 0, 255);
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      padding: 10px;
      font-size: 18px;
  }

  @media (max-width: 991px){
      .contact{
          padding: 50px;
      }
      .contactBox{
          flex-direction: column;
      }
      .contactBox .contactInfo{
          margin-bottom: 40px;
      }
      .contactBox .contactInfo,
      .contactForm{
          width: 100%;
      }
  }
  /* Contact Section End */

  /* About section Start */
  .c1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),
    rgba(0,0,0,0.75)), url(images/about-bg.jpg);
  }

  .row{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .col-2{
      flex-basis: 50%;
      margin: auto;
  }
  .col-2 h1{
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }

  .col-2 p{
    color: #fff;
    line-height: 25px;
    font-size: 15px;
    padding-right: 0px;
  }
  button{
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 10px 0;
    background: rgb(109, 0, 235);
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
    box-shadow: 2px 2px 10px rgb(79 15 143), -2px -2px 10px #7f3ceb;
  }

  button:hover{
      color: #fff;
      background-color: #58058f;
  }

  .card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.35),
    rgba(0,0,0,0.35)), url(images/img-4.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 00.5s;
  }

  .card1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.35),
    rgba(0,0,0,0.35)), url(images/img-1.jpg);
  }
  .card2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.35),
    rgba(0,0,0,0.35)), url(images/img-2.jpg);
  }
  .card3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.35),
    rgba(0,0,0,0.35)), url(images/img-3.jpg); 
  }

  .card:hover{
    transform: translateY(-10px);
  }

  h4{
    color: #000000;
    text-shadow: 0 0 5px rgb(207, 219, 219);
  }

@media (max-width: 1132px){
    .row{
        display: block;
        justify-content: center;
        text-align: center;
    }
    .p2{
        padding-bottom: 30px;
    }
    .col-2 p{
        text-align: center;
        padding: 20px 10px;
    }
}

/* About section End */